@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');

/******** resets ********/

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

li {
    list-style-type: none;
}

button {
    border: none;
}

/******** page styling ********/

html {
    min-width: 300px;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

body {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', arial, sans-serif;
    color: #111;
    overflow-x: hidden;
}

.container {
    padding: 30px 10px 0 10px;

}

section {
    margin-top: 20px;
    padding: 0 20px 0 20px;
}

/* header */

header {
    width: 100%;
    margin-left: 40px;
    margin-top: 10px;
}

header #logo {
    width: 100px;
    height: auto;
}

.navbar {
    font-weight: 500;
    max-width: 350px; /* so that it doesn't take too much space on the bigger screen */
    min-width: 300px;
    width: 100%;
    position: relative;
    display: flex;
    margin-right: 30px;
}

.navbar ul {
    display: flex;
    text-align: center;
    padding: 0;
    width: 100%;
}

.navbar li {
    width: 100%;
    padding: 5px;
}

.navbar .first-nav .bar{
    width: 50%;
}

.navbar .second-nav .bar{
    width: 50%;
}

.navbar li .bar {
    position: absolute;
    width: 100%;
    top: -40px;
}

/*first-section -- search bar */

#filter {
    margin-top: 20px;
}

.filter-description {
    line-height: 32px;
    margin-bottom: 0;
}

#filter .search {
    position: relative;
    height: 55px;
    width: 85%;
    max-width: 420px;
    min-width: 300px;
    border-radius: 20px;
    margin: 15px 0 30px 0;
}

#filter .search .location-icon{
    position: absolute;
    left: 0;
    border-radius: 20px 0 0 20px;
    width: 60px;
    height: 100%;
}

#filter .search form {
    position: relative;
    margin-left: 50px;
    width: 100%;
    max-width: 450px;
    height: 100%;
}

#filter .search input {
    font-weight: 700;
}

#filter .search .search-area {
    height: 100%;
    padding-left: 20px;
    border: 1px solid #F2F2F2;
}

#filter .desktop-tablet .search-area {
    width: 65%;
}


#filter .mobile .search-area {
    padding-left: 10px;
    padding-right: 30px;
    width: 87%;
}

#filter .mobile .search-area:focus {
    background-color: #DEEBFF;
}

#filter .search form .submit-button {
    position: absolute;
    right: 0;
    height: 100%;
    font-weight: 700;
    font-size: 17px;
    border: none;
}

#filter .desktop-tablet form .submit-button {
    width: 35%;
    border-radius: 0 20px 20px 0;
}

#filter .mobile form .submit-button {
    width: 20%;
    border-radius: 20px;
}

/* make the search bar appear or disappear dipending on the media screen */

#filter .desktop-tablet {
    display: flex;
}

#filter .mobile {
    display: none;
}

/* first section -- filtering section */

#filterContainer {
    margin-bottom: 20px;
}

#filterContainer .filter-btn {
    position: relative;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 20px;
    height: 50px;
    margin: 0 0 20px 20px;
    border: 2px solid #d8d8d8;
}

.filter-container-title {
    margin-bottom: 20px;
}

#filterContainer i {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    position: absolute;
    left: -2px;
    font-size: 20px;
}

#filterContainer .filter-btn h2 {
    font-weight: 700;
    font-size: 19px;
    margin-left: 45px;
}

#filter-buttons {
    margin-left: 2px;
    flex-wrap: wrap;
}


/* first section -- info disclaimer */

.info {
margin-bottom: 20px;
}

.info i {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border-radius: 12.5px;
    border: 1px solid #d8d8d8;
}

/******* second section ********/

.accomodation-city{
    padding: 20px;
    margin-right: 40px;
    width: 66%;
    padding: 30px 30px 20px 30px;
}

.accomodation-city__popular {
    width: 31%;
    padding: 40px 40px 20px 40px;
}
 #accomodation h1 {
     margin-bottom: 8px;
 }

 #accomodation .location-info p{
    font-weight: 500;
    font-size: 16px;
 }
.accomodation-city .card-info {
    margin-left: 20px;
    margin-top: 10px;
}

.accomodation-city__popular .card-info {
    margin-top: 0px;
}

.location {
    position: relative;
    padding: 5px;
}

.box-image {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* second section -- city accomodations */

.location-cards {
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 15px 0 15px 0;
}

.location-info {
    margin-left: 20px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -1px;
    word-spacing: 2px;
}

.location-info i {     /* rating-stars */
    font-size: 12px;
}

.accomodation-city .location-cards {
    height: fit-content;
}

.accomodation-city .location {
    width: 250px;
    height: 200px;
    margin-bottom: 30px;
}


.accomodation-city .box-image {
    height: 115px;
    border-radius: 15px 15px 0 0;
    background-position: 0% 50%;
}

.expand-button {
    width: fit-content;
    font-weight: 700;
    font-size: 20px;
}

.accomodation-city__popular .location:not(:last-child) {
    margin-bottom: 30px;
}

.accomodation-city__popular .location-info {
    margin: 10px 0 0 20px;
    width: 50%;
    right: 0;
}

.accomodation-city__popular .location-info p {

    margin-bottom: 30px;
}

.accomodation-city__popular .box-image {
    width: 130px;
    border-radius: 15px 0 0 15px;
    background-position: 50% 0;
}

/* third section */

#landmarks {
    position: relative;
    width: 100%;
    height: fit-content;
}

#landmarks .location-info {
    margin-left: 20px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -1px;
    word-spacing: 2px;
}

.landmarks-city {
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.landmarks-city .card{
    position: relative;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 49%;
    height: 470px;
}

.landmarks-city .three-items-block{
    width: 49%;
    justify-content: space-between;
    margin-bottom: 30px;
}

.landmarks-city .three-items-block .card {
    margin-right: 30px; 
}

.landmarks-city .two-items-block {
    width: 49%;
    justify-content: space-between;
}

.landmarks-city .two-items-block .card {
    width: 100%;
    height: 48%;
    margin-right: 0px;
}

.landmarks-city .two-items-block .card:not(:last-child) {
    margin-bottom: 30px;
}

.landmarks-city .box-image {
    border-radius: 20px 20px 0 0;
    height: 100%;
    width: 100%;
    background-position: 30% 45%;
}

.box-text {
    height: 70px;
    width: 100%;
}


/* footer */

footer {
    left: 0;
    bottom: 0;
    padding: 20px 30px;
    height: 250px;
    width: 100%;
    text-align:left;
}

.footer-details {
    margin-top: 30px;
    width: 75%;
}

footer ul {
    margin-left: 0;
    padding: 0;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 500;
}


/******** animations ********/

.navbar a {
    transform: translateY(0);
    transition: all 200ms;
    color: #111;
}

.navbar a:hover {
    transform: translateY(-10px);
    color: #0065FC;
}

.navbar a:hover +.bar {
    background-color: #0065FC;
    transform: scale(1);
}

.bar {
    transform: scale(0);
    transition: all 200ms;
}

#filter .desktop-tablet form .submit-button:active {
    background-color: #66a3ff;
    color: #111;
}

.filter-btn {
    transform: scale(1);
    background-color: transparent;
    transition: transform 200ms, background-color 250ms;
}

.filter-btn:hover {
    transform: scale(1.1);
    background-color: #DEEBFF;
    color: #0065FC;
}

a{
    transform: scale(1);
    transition: all 250ms;
}

a:hover {
    transform: scale(1.1);
}

/******** utilities ********/ 

.d-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.main-axis-center {
    display: flex;
    justify-content: center;
}

.cross-axis-center {
    display: flex;
    align-items: center;
}

.column {
    flex-direction: column;
}

h1 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -1px;
}

h2 {
    font-size: 18px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    font-weight: 600;
}

p{
    font-size: 18px;
    font-weight: 500;
}

/* colors */

.f-white {
    color: #fff;
}

.highlighted {
    color: #0065FC;
}

.discreet {
    color: #F2F2F2;
}

.bg-white {
    background-color: #fff;
}

.bg-discreet {
    background-color: #F2F2F2;
}

.bg-transparent {
    background-color: transparent;
}

.bg-primary {
    background-color: #0065FC;
}

.bg-secondary {
    background-color: #DEEBFF;
}

/* boxes */

.bar {
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 2px;
}

.card {
    border-radius: 20px;
}

.shadow {
    box-shadow: 2px 2px 15px #d8d8d8;
}

button {
    border-radius: 40px;
    width: fit-content;
}

/* others */

.hidden {
    display: none;
}

.show {
    display: block;
}

.active {
    color: #0065FC;
}

.portrait {
    width: 100%;
    height: 100%;
}

.landscape {
    width: 100%;
    height: 45%;
}

/******* responsive design ********/

/* on screens that are 992px or less */
@media screen and (max-width: 992px) {

    /* header */

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .container {
        padding: 0;
    }

    section {
        padding: 20px;
    }

    header {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 0;
        width: 100%;
        height: fit-content;
    }

    .home {
        display: flex;
        justify-content: center;
    }

    header #logo {
        margin-bottom: 30px;
    }

    .navbar {
        max-width: 768px;
        left: 0;
    }

    .navbar ul li .bar {
        margin-top: 100px;
    }
    
    .bar {
        background-color: #F2F2F2;
    }

    /* first section */

    .info {
        margin-bottom: 0px;
    }

    .filter-container-title {
    align-items: flex-start;
    }

    /* second section */

    #accomodation {
        flex-direction: column-reverse;
        position: relative;
    }

    .accomodation-city {
        width: 100%;
        margin-bottom: 30px;
        margin-right: 0px;
        align-items: center;
    }
    
    .accomodation-city .location-cards {
        width: 100%;
        min-width: 300px;
        justify-content: space-evenly;
    }
    
    .accomodation-city .location-info {
        align-items: flex-start;
    }
    
    .accomodation-city__popular {
        width: 100%;
        align-items: center;
        padding: 0px;
        margin-bottom: 20px;
    }

    .accomodation-city__popular .location-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        height: fit-content;
        width: 100%;
        max-width: 400px;
        min-width: 300px;
    }
    .accomodation-city__popular .location {
        width: 100%;
        height: 200px;
    } 

    .accomodation-city__popular .box-image {
        height: 100%;
        width: 50%;
    }

    /* third section */
    
    .landmarks-city .three-items-block {
        width: 100%;
    }
}

/* on screen 768px or smaller */

@media screen and (max-width: 768px) {

    body {
        justify-content: center;
        align-items: center;
    }

    a {
        width: 100%;
    }

    section:nth-child(1), section:nth-child(2), section:nth-child(4) {
        padding: 20px;
    }

    section {
        padding: 0;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    /* first section */
    #filter {
        align-items: center;
    }

    .filter-description {
        text-align: left;
    }

    #filter .search {
        margin: 20px auto;
        min-width: 300px;
    }

    #filter .desktop-tablet {
        display: none;
    }

    #filter .mobile {
        display: flex;
    }

    #filterContainer {
        flex-direction: column;
    }

    #filterContainer .filter-container-title {
        align-self: flex-start;
        margin-left: 20px;
    }

    /* second section */

    .accomodation-city__popular, .accomodation-city {
        border-radius: 0;
    }

    .accomodation-city__popular {
        left: 0;
        width: 100%;
    }

    .accomodation-city__popular h1 {
        margin-top: 20px;
    }

    .accomodation-city__popular .location {
        position: relative;
    }
    
    .accomodation-city__popular .location .hotel-rating {
        position: absolute;
        bottom: 10px;
    }

    .accomodation-city {
        background-color: #fff;
    }
  
    .location {
        margin: 10px auto;
    }

    .accomodation-city .location {
        width: 100%;
        max-width: 400px;
        height: 200px;
    }
    
    .expand-button {
        margin: 0;
        width: 100%;
    }

    /* third section */

    .landmarks-city {
        flex-direction: column;
        align-items: center;
    }

    .landmarks-city .three-items-block {
        width: 100%;
        max-width: 600px;
        flex-wrap: wrap;
        margin-bottom: 0;
    }

    .landmarks-city .three-items-block .card {
        width: 100%;
        height: 200px;
        margin: 0 0 20px 0;
    }

    .landmarks-city .two-items-block {
        width: 100%;
    }

    /* footer */

    footer {
        height: fit-content;
    }

    .footer-details {
        margin-left: 30px;
        flex-direction: column;
        text-align: left;
        align-items: baseline;
    }

    .footer-title {
        margin-left: 0;
        text-align: left;
        margin-bottom: 10px;
    }

    footer ul {
        margin-top: 0;
    }
}