@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');

/******** resets ********/

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

li {
    list-style-type: none;
}

button {
    border: none;
}

/******** page styling ********/

html {
    min-width: 320px;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

body {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', arial, sans-serif;
    color: #111;
    overflow-x: hidden;
}

.container {
    padding: 50px;
}

/* header */

header {
    height: 70px;
    width: 100%;
}

.navbar {
    width: 80%;
    max-width: 300px; /* so that it doesn't take too much space on the bigger screen */
}

.navbar ul {
    font-weight: 500;
    min-width: 320px;
}

.navbar ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.navbar ul li .bar {
    position: absolute;
    margin-top: -155px;
}

/* for all sections */

section {
    margin-top: 30px;
}

/*first-section -- search bar */

#filter {
    margin-top: 20px;
}

#filter .search {
    position: relative;
    height: 55px;
    width: 85%;
    max-width: 500px;
    min-width: 300px;
    border-radius: 20px;
    margin: 30px 0;
}

#filter .search i {
    left: 0;
    border-radius: 20px 0 0 20px;
    width: 50px;
    height: 100%;
    background-color: #F2F2F2;
}

#filter .search form {
    position: absolute;
    left: 50px;
    width: 100%;
    max-width: 450px;
    height: 100%;
}

#filter .search input {
    height: 100%;
    width: 75%;
    padding-left: 20px;
    border: 1px solid #F2F2F2;

}

#filter .search button {
    position: absolute;
    right: 0;
    border-radius: 0 20px 20px 0;
    height: 100%;
    width: 120px;
    font-weight: 600;
    font-size: 17px;
}

/* make the search bar appear or disappear dipending on the media screen */

#filter .desktop-tablet {
    display: flex;
}

#filter .mobile {
    display: none;
}

/* first section -- filtering section */

#filterContainer {
    margin-bottom: 20px;
}

#filterContainer .filter-btn {
    position: relative;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 20px;
    height: 50px;
    margin: 0 0 20px 20px;
    border: 2px solid #d8d8d8;
}

.filter-container-title {
    margin-bottom: 20px;
}

#filterContainer i {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    position: absolute;
    left: -2px;
    font-size: 20px;
}

#filterContainer .filter-btn h2 {
    margin-left: 45px
}

#filter-buttons {
    margin-left: 2px;
    flex-wrap: wrap;
}

.filter-btn span{
    padding-left: 40px;
    font-size: 18px;
    font-weight: 700;
}

/* animations */

.filter-btn {
    transform: scale(1);
    background-color: transparent;
    transition: transform 200ms, background-color 250ms;
}

.filter-btn:hover {
    transform: scale(1.1); /* to be changed when a tags are added */
    background-color: #DEEBFF;
    color: #0065FC;
}



/* first section -- info disclaimer */

.info {
margin-bottom: 20px;
}

.info i {
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
    border: 1px solid #d8d8d8;
}

/******* second section ********/

.accomodation-city, .accomodation-city__popular {
    padding: 20px;
}

.accomodation-city {
    margin-right: 40px;
    width: 67%;
}

.accomodation-city__popular {
    width: 30%;
}

.location {
    position: relative;
    padding: 5px;
}

.box-image {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* second section -- city accomodations */

.location-cards {
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 15px 0 15px 0;
}
/* 
.location-cards a{
    display: flex;
    width: 100%;
} */

.location-info {
    margin-left: 20px;
}

.location-info i {     /* rating-stars */
    font-size: 12px;
}

.accomodation-city .location-cards {
    height: fit-content;
}

.accomodation-city button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 600;
    margin-left: 50px;
}

.accomodation-city .location {
    width: 250px;
    height: 200px;
    margin-bottom: 30px;
}


.accomodation-city .box-image {
    height: 115px;
    border-radius: 15px 15px 0 0;
    background-position: 0% 50%;
}

.accomodation-city__popular span {
    font-size: 24px;
    font-weight: 700;
}

.accomodation-city__popular .location:not(:last-child) {
    margin-bottom: 30px;
}

.accomodation-city__popular .location-info {
    margin: 10px 0 0 20px;
    width: 50%;
    right: 0;
}

.accomodation-city__popular .location-info p {
    margin-bottom: 30px;
}

.accomodation-city__popular .box-image {
    width: 115px;
    border-radius: 15px 0 0 15px;
    background-position: 50% 0;
}

/* third section */

#landmarks {
    width: 100%;
    height: fit-content;
}

.landmarks-city {
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.landmarks-city .card{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 49%;
    height: 450px;
}

.landmarks-city .three-items-block{
    width: 49%;
    justify-content: space-between;
    margin-bottom: 30px;
}

.landmarks-city .three-items-block .card {
    margin-right: 30px; 
}

.landmarks-city .two-items-block {
    width: 49%;
    justify-content: space-between;
}

.landmarks-city .two-items-block .card {
    width: 100%;
    height: 47%;
    margin-right: 0px;
}

.landmarks-city .two-items-block .card:not(:last-child) {
    margin-bottom: 30px;
}

.landmarks-city .box-image {
    border-radius: 20px 20px 0 0;
    height: 100%;
    width: 100%;
    background-position: 0% 50%;
}

.box-text {
    height: 80px;
    width: 100%;
}


/* footer */

footer {
    left: 0;
    bottom: 0;
    margin-top: 50px;
    padding: 20px;
    height: 250px;
    width: 100%;
    text-align:left;
}

.footer-details {
    margin-top: 30px;
    width: 80%;
}

.footer-title {
    margin-bottom: 15px;
}

footer ul {
    margin-left: 0;
    padding: 0;
}

/******** utilities ********/ 

.d-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.X-centered {
    display: flex;
    justify-content: center;
}

.Y-centered {
    display: flex;
    align-items: center;
}

.column {
    flex-direction: column;
}

h1 {
    font-size: 24px;
    font-weight: 700;
}

h2 {
    font-size: 18px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    font-weight: 600;
}

p{
    font-size: 14px;
    font-weight: 500;
}

a{
    transform: scale(1);
    transition: all 250ms;
}

a:hover {
    /* transform: scale(1.1); */
    transform: translateY(-10%);
}

/* colors */

.f-white {
    color: #fff;
}

.highlighted {
    color: #0065FC;
}

.discreet {
    color: #F2F2F2;
}

.bg-white {
    background-color: #fff;
}

.bg-discreet {
    background-color: #F2F2F2;
}

.bg-transparent {
    background-color: transparent;
}

.bg-primary {
    background-color: #0065FC;
}

.bg-secondary {
    background-color: #DEEBFF;
}

/* boxes */

.bar {
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 2px;
}

.card {
    border-radius: 20px;
}

.shadow {
    box-shadow: 2px 2px 15px #d8d8d8;
}

button {
    border-radius: 40px;
    width: fit-content;
}

/* others */

.hidden {
    display: none;
}

.show {
    display: block;
}

.portrait {
    width: 100%;
    height: 100%;
}

.landscape {
    width: 100%;
    height: 45%;
}

/******* responsive design ********/

/* on screens that are 992px or less */
@media screen and (max-width: 992px) {

    /* header */

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .padding-container {
        padding: 20px;
    }

    header {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: fit-content;
    }

    header #logo {
        margin-bottom: 30px;
    }

    .navbar {
        max-width: 768px;
    }

    .navbar ul li .bar {
        margin-top: 50px;
    }

    /* first section */

    .info {
        margin-bottom: 0px;
    }

    .mobile {
        display: none;
    }

    /* second section */

    #accomodation {
        flex-direction: column;
    }

    .accomodation-city {
        width: 100%;
        margin-bottom: 30px;
        margin-right: 0px;
        align-items: center;
    }
    
    .accomodation-city .location-cards {
        width: 100%;
        min-width: 320px;
        justify-content: space-evenly;
    }

    .accomodation-city__popular {
        width: 100%;
        align-items: center;
    }

    .accomodation-city__popular .location-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        height: fit-content;
        width: 100%;
        max-width: 400px;
        min-width: 320px;
    }
    .accomodation-city__popular .location {
        width: 100%;
        height: 200px;
    } 

    .accomodation-city__popular .box-image {
        height: 100%;
        width: 50%;
    }

    /* thrid section */
    
    .landmarks-city .three-items-block {
        width: 100%;
    }
}

/* on screen 768px or smaller */

@media screen and (max-width:768px) {

    body {
        justify-content: center;
        align-items: center;
    }
    h1, h2, h3, p, .hotel-rating  {
        text-align: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    
    section {
        width: 100vw;
    }

    /* first section */
    #filter {
        align-items: center;
    }

    #filter .search {
        margin: 20px auto;
        left: 20px;
    }

    .desktop-tablet {
        display: none;
    }

    .mobile {
        display: flex;
    }

    #filterContainer {
        flex-direction: column;
    }

    #filterContainer .filter-container-title {
        align-self: flex-start;
        margin-left: 20px;
    }

    section:not(:nth-child(3)) {
        padding: 20px;
    }

    /* second section */

    .accomodation-city__popular, .accomodation-city {
        border-radius: 0;
    }

    .accomodation-city {
        background-color: #fff;
    }
  
    .accomodation-city .location {
        width: 100%;
        max-width: 400px;
        height: 200px;
    }

    /* third section */

    .landmarks-city {
        flex-direction: column;
        align-items: center;
    }

    .landmarks-city .three-items-block {
        width: 100%;
        max-width: 600px;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }

    .landmarks-city .three-items-block .card {
        width: 100%;
        height: 200px;
        margin-right: 0px;
    }

    .landmarks-city .three-items-block .card:not(:last-child) {
        margin-bottom: 30px;
    }

    .landmarks-city .two-items-block {
        width: 100%;
    }

    /* footer */

    footer {
        height: fit-content;
    }

    .footer-details {
        margin-left: 30px;
        flex-direction: column;
        text-align: left;
        align-items: baseline;
    }

    .footer-section {
        margin-bottom: 20px;
    }

    .footer-title {
        margin-left: 0;
        text-align: left;
        margin-bottom: 10px;
    }

    footer ul {
        margin-top: 0;
    }
}