.container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    width: 450px;
    height: 700px;
    background-color: #F4F4F4;
    padding: 10px;
    text-align: center;
    position: relative;
}

.first-box {
    height: 300px;
    width: 100%;
    background-color: red;
    justify-self: end;
}

.second-box {
    height: 300px;
    width: 100%;
    background-color: green;
    justify-self: flex-start;
}